<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.amrit.practice.filesbygooglereplica">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.ShowImageActivity"
            android:exported="false" />
        <activity android:name=".activities.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MediaImageActivity"
            android:label="Images"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.HomeActivity" />
        <activity
            android:name=".activities.InfoActivity"
            android:label="File Info"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.ShowImageActivity" />
        <activity
            android:name=".activities.MediaAudioActivity"
            android:label="Audios"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.HomeActivity" />
        <activity
            android:name=".activities.ShowAudioActivity"
            android:label="Show Audio"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MediaAudioActivity" />
        <activity
            android:name=".activities.MediaVideoActivity"
            android:label="Videos"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.HomeActivity" />
        <activity
            android:name=".activities.ShowVideoActivity"
            android:label="Show Video"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MediaVideoActivity" />
        <activity
            android:name=".activities.MediaDownloadActivity"
            android:label="Downloads"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.HomeActivity" />
        <activity
            android:name=".activities.MediaDocumentsActivity"
            android:label="Documents"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.HomeActivity" />
        <activity
            android:name=".activities.ShowPdfActivity"
            android:label="Show PDF"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MediaDocumentsActivity" />
        <activity
            android:name=".activities.InternalStorageActivity"
            android:label="Internal Storage"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.HomeActivity" />
    </application>

</manifest>